---
layout : format.njk
---

<html>

<head>
    <link rel="stylesheet" href="/assets/css/test.css">
    <script typre="text/javascript" src="/assets/js/test.js"></script>
</head>

<body id="test" class="">
    <h3>Seharusnya akan Berubah mode dark jika lebih jam 6 sore</h3>
</body>

</html>