---
layout : format.njk
---

<html>

<head>
    <link rel="stylesheet" href="/assets/css/test.css">
    <script typre="text/javascript" src="/assets/js/test.js"></script>
</head>

<body class="">
    <h1 id="counter">0</h1>
    <button onclick="plus()" id="tambah">Tambah 1</button>
    <button onclick="min()" id="kurang">Kurang 1</button>
    <button onclick="res()" id="Reset">Reset</button>
    <br>
    <button onclick="malam()" id="tombol"> Berubah Ke Mode Malam</button>
    <br>
</body>

</html>