---
layout : format.njk
---

<html>

<head>
    <link rel="stylesheet" href="/assets/css/test.css">
    <script typre="text/javascript" src="/assets/js/test.js"></script>
</head>

<body id="test" class="">
    <div>
        <table id="tbl">
            <tbody></tbody>
        </table>
        <button onclick="tambah()"> Tambah </button>
    </div>

</body>

</html>