.malam {
    background-color: #222;
    color: #eee;
}

body {
    background-color: #eee;
    color: #222;
}

h3 {
    font-family: 'Lucida Sans',
        'Lucida Sans Regular',
        'Lucida Grande',
        'Lucida Sans Unicode',
        Geneva,
        Verdana,
        sans-serif;

}

.siang {
    background-color: #eee;
    color: #222;
}

.flex {
    display: flex;
    background-color: thistle;
    width: 75%;
    margin-left: 25%;
    justify-content: space-around;
}

.flex>a {
    text-decoration: none;
    padding: 10px;
}

.flex>a:hover {
    background-color: slategrey;
    color: snow;
}