<html>
    <head></head>
    <body>
        <div class="flex" >
            <a href="/">Latihan 1</a>
            <a href="/latihan2/tugas2">Latihan 2</a>
            <a href="/homework/Homework">Homework</a>
        </div>
    </body>
</html>